<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="The resume formatter makes it easy to create clean, readable and editable resumes. Just start typing and watch your resume come to life!">
     <meta name="google-site-verification" content="3ddTVIR06NnoQlEF70Y4daGqsJgut-WrRl1FCZDTvW8" />
    <link rel="stylesheet" href="application.css">
    <title>The Amazing Resume Formatter</title>
  </head>
  <body data-ng-app="resumeApp" data-ng-controller="AuthController" data-ng-init="getUser()">
    <header class="main-header">
      <h1 class="logo">The Amazing Resume Formatter!</h1>
      <div class="logout" data-ng-if="currentUser">Logged in as {{currentUser}} <a href data-ng-click="logOut()">Log Out</a> </div>
    </header>
    <main>
      <article data-ng-view></article>
    </main>
    <footer class="main-footer">
      <div class="footer-container">
      <div class="copyright">Copyright 2015: The Amazing Resume Formatter Team</div>
      <a href="https://github.com/ResumeFormatterTeam/ResumeFormatter" class="github-link"><i class="fa fa-github"></i></button>
      </div>
    </footer>

    <script src="bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71676704-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
