.logo {
  padding: .5em;
  background-color: $primary1;
  color: $light-background;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5em;
  }

.form-block {
  margin: 1.5em auto;
  background-color: $background;
  max-width: 960px;
  font-weight: 600;
  color: $primary1;

  .form-grouping {
    width: 46%;
    margin:1em;
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }
  .form-full-width {
    margin:1em;
    width: 95%;
  }

  h2 {
    padding: .5em;
    background-color: $primary2;
    color: $light-background
  }

  input, textarea {
    border: none;
    padding: .5em;
    margin: .5em 0;
  }

  textarea {
    width: 100%;
  }


  button {
    width: 25%;
    margin: 1em 1em;
    color: $light-background;
    background-color: $primary1;
  }
}


