.form-block {
  margin: 1.5em auto;
  background-color: $background;
  max-width: 960px;
  font-weight: 600;
  color: $primary1;

  .form-block-top {
    font-family: Lato;
    padding: 1em;
    padding-bottom: 0;
    color: $light-background;
    background-color: $primary2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-half-width {
    width: 46%;
    margin:1em;
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }
  .form-full-width {
    margin: .5em 1em 0 1em;
    width: 95%;
    input {
      width: 100%;
    }
  }
  .button-container {
    margin: 0 1em 0 0;
    padding: 0;
    width: 100%;
  }

  .bullet-point-inputs {
    input {
      width: 85%;
    }
  }

  input, textarea {
    border: none;
    padding: .5em;
    margin: .5em 0;
  }

  textarea {
    width: 100%;
  }

}
