.top-interface-buttons {
  width:100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:auto;
  background-color: $light-background;
  .display-button-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
  }
  .display-options-header {
    font-family: Lato, sans-serif;
    font-size: 1.25em;
    color: $primary1;
  }
@media (max-width: 1400px) {
.form-and-resume-button {
  display: none;
}
}
}

