//color theme https://color.adobe.com/Corporate-Orange-Blue-color-theme-121815/

$navy-blue: #304269;
$slate-blue: #91BED4; //darker grey-blue
$light-blue: #D9E8F5; //lighter grey-blue
$white: #FFFFFF;
$blaze-orange: #F26101;

$primary1: $navy-blue;
$primary2: $slate-blue;
$background: $light-blue;
$light-background: $white;
$accent: $blaze-orange;
