.save-info-button {
    font-family: Lato;
    width: 6em;
    padding: .75em;
    margin: 0 1em 0 1em;
    border: none;
    box-shadow: 3px 3px 1px darken($background, 10%);
    color: $light-background;
    background-color: $primary2;
  }
