<section>
  <h1>{{headingText}}</h1>
  <button type="button" data-ng-click="changePlaces()">Switch</button>

  <form name="authForm" data-ng-submit="authenticate(user)">
    <label for="username">Username:</label>
    <input type="text" id="username" required data-ng-model="user.username">
    <label for="password">Password:</label>
    <input type="password" id="password" required data-ng-model="user.password">
    <button type="submit" data-ng-disabled="authForm.$invalid">{{buttonText}}</button>

    <p style="color:maroon; font-size:12px;" data-ng-if="!user.username">Username field is required.</p>
    <p style="color:maroon; font-size:12px;" data-ng-if="!user.password">Password field is required.</p>

  </form>
</section>
