<div class="form-half-width">
  <label for="jobName">Company Name:</label>
  <input type="text" id="jobName" placeholder="Bear Wranglers Without Borders">
  <label for="jobTitle">Job Title:</label>
  <input type="text" id="jobName" placeholder="VP of Bear Wrangling">
  <label for="companyUrl">Company Url:</label>
  <input type="text" id="projectUrl" placeholder="http://www.bearwranglerswithoutborders.com">
</div>
<div class="form-half-width">
  <label for="jobCity">City:</label>
  <input type="text" id="projectCity" placeholder="Billings, MT">
  <label for="startDate">Start Date:</label>
  <input type="text">
  <label for="endDate">End Date:</label>
  <input type="text">
</div>
<div class="form-full-width">
  <strong>Bullet Points:</strong>
  <ul class="bullet-point-inputs">
    <li>
      <input type="projectBulletPoint">
      <button type="button">Remove</button>
    </li>
    <li>
      <input type="projectBulletPoint">
      <button type="button">Remove</button>
    </li>
    <li>
      <button class="add-line-button" type="button">Add Another Line &nbsp; &nbsp; &#x25BA;</button>
    </li>
  </ul>
</div>
