<!-- this template (and corresponding directive) is not being used -->
<article class="form-full-width">
  <strong>Bullet Points:</strong>
  <ul class="bullet-point-inputs">
    <li>
      <input type="{{bulletPointType}}BulletPoint">
      <button type="button">Remove</button>
    </li>
    <li>
      <input type="{{bulletPointType}}BulletPoint">
      <button type="button">Remove</button>
    </li>
    <li>
      <button class="add-line-button" type="button">Add Another Line &nbsp; &nbsp; &#x25BA;</button>
    </li>
  </ul>
</article>
