<div class="formatted-resume">
<section class="personal-info" itemscope itemtype="http://schema.org/Person">
  <section class="headline">
  <h1 itemprop="name">{{resume.firstName}} {{resume.lastName}}</h1>
  <h3 itemprop="jobTitle">{{resume.jobTitle}}</h3>
  </section>
  <ul class="contact-info">
    <li>
      <b>Phone:</b> <a href="{{resume.phoneNumber}}" itemprop="telephone">{{resume.phoneNumber}}</a>
    </li>

    <li>
      <b>Website:</b> <a href="{{resume.website}}" itemprop="url" title="Personal website">{{resume.website}}</a>
    </li>

    <li>
      <b>Email:</b> <a href="mailto:{{resume.email}}" itemprop="email" title="Email">{{resume.email}}</a>
    </li>

    <li><b>LinkedIn:</b>
      <a href="{{resume.linkedIn}}" title="LinkedIn profile">{{resume.linkedIn}}</a>
    </li>
  </ul>
</section>

<section class="profile">
  <p><strong>Summary:</strong> {{resume.personalSummary}}</p>
</section>

<h2 class="{{flexOrder.skills.class}}">Skills</h2>
<section class="skills {{flexOrder.skills.class}}">
  <ul>
    <li>
      <strong>Proficient:</strong> {{resume.proficientSkills}}
    </li>
    <li>
      <strong>Developing:</strong> {{resume.growingSkills}}
    </li>
  </ul>
</section>

<h2 class="{{flexOrder.projects.class}}">Projects</h2>
<section class="projects {{flexOrder.projects.class}}" data-ng-repeat="project in resume.projects">
  <section class="project-headline">
    <h3>{{project.projectName}}</h3>
    <a href="{resume.projects.projectUrl}}">{{project.projectUrl}}</a>
    <strong>{{project.projectCity}}</strong>
    <time datetime="2015-11">{{project.projectDate}}</time>
  </section>
  <ul class="responsibilities">
    <li>{{project.projectBulletPoint}}</li>
  </ul>
</section>

<h2 class="{{flexOrder.experience.class}}">Experience</h2>
<section class="experience {{flexOrder.experience.class}}" data-ng-repeat="job in resume.experience">
  <section class="employer" itemscope itemtype="https://schema.org/Corporation">
    <section class="employer-headline">
      <h3 itemprop="name"><a class="company-website" itemprop="url" href="{{job.companyUrl}}">{{job.companyName}}</a></h3>
      <h4>{{job.jobTitle}}</h4>
      <strong>{{job.companyCity}}</strong>
      <section class="job-duration">
      <time>{{job.startDate}}</time> - <time>{{job.endDate}}</time>
      </section>
    </section>
    <ul class="responsibilities">
      <li>{{job.jobBulletPoint}}</li>
    </ul>
  </section>
</section>

<h2 class="{{flexOrder.education.class}}">Education</h2>
<section class="education {{flexOrder.education.class}}" data-ng-repeat="edu in resume.education">
  <span itemscope itemtype="https://schema.org/CollegeOrUniversity" itemprop="name"><span itemprop="name">{{edu.institutionName}}</span>, {{edu.degree}}, {{edu.major}}, {{edu.minor}} (<time>{{edu.startDate}}</time> - <time>{{edu.endDate}}</time>)</span>
</section>

