<section>
  <div data-form-block-directive
  header-text="Personal Info"
  form-class="personal-info-form"
  expand-class="hidden">
    <div class="form-flex-wrap" ng-include src="'templates/personal_info_form_template.html'">
      <!-- ng-include directive includes personal info form template -->
    </div>
  </div>

  <div data-form-block-directive
  header-text="Skills"
  form-class="skills-form"
  expand-class="hidden">
    <div class="form-flex-wrap" ng-include src="'templates/skills_form_template.html'">
      <!-- ng-include directive includes skills form template -->
    </div>
  </div>

  <div  data-form-block-directive
    header-text="Projects"
    form-class="projects-form"
    expand-class="justify-center-flex"
    form-type="Project">
    <div class="form-flex-wrap" ng-include src="'templates/projects_form_template.html'">
        <!-- ng-include directive includes project form template -->
    </div>
  </div>

  <div  data-form-block-directive
    header-text="Experience"
    form-class="experience-form"
    expand-class="justify-center-flex"
    form-type="Job">
    <div class="form-flex-wrap" ng-include src="'templates/experience_form_template.html'">
        <!-- ng-include directive includes experience form template -->
    </div>
  </div>

  <div  data-form-block-directive
    header-text="Education"
    form-class="education-form"
    expand-class="justify-center-flex"
    form-type="Institution">
    <div class="form-flex-wrap" ng-include src="'templates/education_form_template.html'">
        <!-- ng-include directive includes education form template -->
    </div>
  </div>
</section>
