<div class="form-half-width">
  <label for="projectName">Project Name:</label>
  <input type="text" id="projectName" placeholder="Bear Wranglers Without Borders">
  <label for="projectUrl">Project Url:</label>
  <input type="text" id="projectUrl"  placeholder="http://www.bearwranglerswithoutborders.com">
</div>

<div class="form-half-width">
  <label for="projectCity">City:</label>
  <input type="text" id="projectCity" placeholder="Billings, MT">
  <label for="projectDate">Date of Project:</label>
  <input type="date" >
</div>

<div data-bullet-point-form-directive
bulletPointType="project" ></div>

<!-- data-ng-model="newResume.projects.projectName" -->
<!-- data-ng-model="newResume.projects.projectUrl" -->
<!-- data-ng-model="resumes.projects.projectCity" -->
<!-- data-ng-model="newResume.projects.projectDate" -->
<!-- data-ng-model="resumes.projects.projectBulletPoint" -->
