 <div class="form-full-width">
        <label for="proficientSkills">Proficient Skils (Comma Separated)</label>
        <input type="text" id="proficientSkills" placeholder="Mountaineering, Trapping Bears, Wrangling Bears" data-ng-model="resume.proficientSkills">
      </div>
      <div class="form-full-width">
        <label for="growingSkills">Growing Skills (Comma Separated)</label>
        <input type="growingSkills"  placeholder="Space Travel, Hyena Wrangling, Underwater Lion Taming" data-ng-model="resume.growingSkills">
      </div>
  </div>
