.formatted-resume {
  font-family: Georgia;
  margin: 1em;
  line-height: 1.5;
  color: #002940;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 21cm;
  //max-height: 29.7cm;
  border: 1px solid #ccc;
  padding: 2cm;
  box-shadow: 5px 5px 2px #bbb;

time {
  font-style: italic;
  color: #00527F;
}

.skills ul li {
  list-style-type: none;
}
ul.contact-info {
  font-family: Arial;
  text-align: right;
  list-style-type: none;
}
ul.contact-info b {
  font-weight: 600;
  color: #00527F;
}
ul.contact-info a {
  font-size: .925em;
  text-decoration: none;
}
ul.contact-info a:hover {
  font-size: .925em;
  text-decoration: underline;
}
a.company-website {
  color: #0C3D7F;
  text-decoration: none;
}
a:hover.company-website {
  color: #007BBF;
  text-decoration: underline;
}

  h2 {
    font-weight: bold;
    padding-left: .5em;
    margin-top: .4em;
    margin-bottom: 0.3em;
    background-color: #eee;
  }
  .personal-info h1 {
    margin-top: 0;
  }
.skills ul {
  margin-top: .3em;
  margin-bottom: .3em;
}

.projects,
.experience,
.education {
  padding-left: 1em;
  padding-right: 1em;
}
.personal-info {
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  height: 7em;
}

.project-headline,
.employer-headline {
  display: flex;
}
.project-headline *,
.employer-headline * {
  height: 28px;
  line-height: 28px;
  margin: 0;
}
.project-headline > *:nth-child(n+2),
.employer-headline > *:nth-child(n+2) {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #002940;

}

ul.contact-info {
  margin-top: 0.5em;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;

}

}
